@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Quicksend", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  max-width: 1100px;
  margin: auto;
}


#offers{
  background: url(images/offer-background.jpg)center center/cover fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 0;
  text-align: center;
  position: relative;
}
 .offers-item-wrapper{
  overflow: hidden;
  width: 100%;
}
.offers-items{
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.offer-item{
  box-sizing: border-box;
  min-width: 100%;
}
.offers-items img{
  width: 200px;
}
h2{
  color: #e4b95b;
}
.title p{
  color: #fff;
  font-weight: 500;
}
.offers-items h3{
  color: #fff;
  margin: 15px;
}
.offers-items p{
  color: #fff;
  padding: 0 20px;
  margin-bottom: 15px;
  font-weight: 300;
}
.offers-items span{
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
}
.prev,.next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 25px;
  border-radius: 5px;
}
.prev{
  left: 10px;
}
.next{
  right: 10px;
}
#menu {
  background-color: #fff;
  padding: 5rem 0;
}
#menu .title {
  text-align: center;
  margin-bottom: 20px;
}
#menu .title h3 {
  color: #383848;
  font-size: 40px;
  margin-bottom: 20px;
}
#menu .title p {
  color: #a9a9a9;
  font-weight: 500;
}
#menu .menu-items {
  display: flex;
  /* align-items: center;
    text-align: center; */
  gap: 40px;
}
.menu-item img {
  border-radius: 50%;
  width: 80px;
  margin: 10px;
}
.menu-item {
  display: flex;
}
.menu-item span {
  color: #eec25f;
  position: absolute;
  top: 0;
  right: 0;
}
.menu-item h3 {
  font-size: 15px;
  border-bottom: 1px dashed #a9a9a9;
  padding-bottom: 10px;
  position: relative;
}
.menu-item p {
  margin-top: 10px;
}
#menu .btn {
  display: block;
  margin: auto;
  background-color: #eec25f;
  margin-top: 30px;
  border-radius: 10px;
  padding: 15px 10px;
  border: none;
  transition: all 1s;
}

*{margin: 0; padding: 0; box-sizing: border-box;}
.container{ width: 80%; margin: 0 auto; }
/* Contact Section start */
 #contact {
background: #f4f2ed;
padding: 5rem 0;
}
#contact .container {
max-width: 900px;
}
#contact .contact-content {
display: flex;
justify-content: space-evenly;
align-items: center;
}
#contact .contact-info {
width: 50%;
}
form {
width: 50%;
}
#contact .contact-info div {
margin: 30px 0;
line-height: 1.7;
}
#contact .contact-info h3 {
font-size: 28px;
color: #383848;
margin-bottom: 10px;
}
#contact .contact-info p {

color: #9a9a9a;
}
#contact .contact-info p i {
color: #e4b95b;
margin-right: 5px;
}
#contact .contact-info a i {
color: #fff;
background: #383848;
padding: 10px;
font-size: 20px;
border-radius: 50%;
}
#contact .contact-info a i:hover {
background-color: #e4b95b;
color: #383848;
}
form input,
textarea {
display: block;
width: 100%;
padding: 20px 15px;
margin: 20px 0;
border: none;
background-color: #e3e2dd;
}
form input:focus,
textarea:focus {
outline: none;
}
form button {

color: #fff;
background-color: #383848;
padding: 15px 30px;
border: none;
cursor: pointer;
font-size: 18px;
transition: all 0.3s ease;
}
form button:hover {
background-color: #e4b95b;
color: #383848;} 
/* Contact Section End */






body {
font-family: Arial, sans-serif;
background-color: #111;
}
/* Gallery Section */
#gallery {
background: url("./images/offer-background.jpg") center 
center/cover;
padding: 3rem 0;
color: #fff;
}
.container {
width: 80%;
margin: 0 auto;
text-align: center;
}
#gallery h2 {
font-size: 36px;
margin-bottom: 30px;
}
.img-gallery {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.img-gallery img {
width: 300px;
height: 200px;
border-radius: 10px;
margin: 15px;
cursor: pointer;
opacity: 0.8;
transition: transform 0.3s ease;
}
.img-gallery img:hover {
transform: scale(1.1);
opacity: 1;
}
/* Lightbox (Popup) */
#boxContainer {
display: none;
justify-content: center;
align-items: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.85);
z-index: 999;
}
#boxItem {
width: 70%;
height: 70%;
background-size: cover;
background-position: center;
border-radius: 10px;
position: relative;
}
/* Control Buttons */
#boxItem i {
color: #fff;
cursor: pointer;
position: absolute;
transition: color 0.3s;
}
#boxItem i:hover {
color: #e4b95b;
}
#close {
top: 15px;
right: 20px;
}
#prev {
left: 15px;
top: 50%;
transform: translateY(-50%);
}
#next {
right: 15px;
top: 50%;
transform: translateY(-50%);
}